body{
    background-color: aqua;
}
h1{
    text-align: center;
}
h1,h2{
    font-family: 'Audiowide', sans-serif;
    /*If commented then font style is somewhat stylish
    /*font-family: 'Caveat', cursive;
    font-family: 'Jost', sans-serif;*/
    text-shadow: 1px 1px 5px blue ; 
}
.Counter{
    margin: auto;
    width: 350px;
    border-radius: 10px;
    background-color: rgba(147, 232, 222, 0.579);
    border: 1px dashed black;
}
button{
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: grey;
}